.w-100 {
  width: 100%;
}
.flex {
  display: flex;
}

.input-icon {
  color: "blue";
}
.input {
}

.page-login{
  background-color: black;
}
.page-login h1{
  padding: 18px 0px;
  color: white;
}
.page-login img{
  width: 100%;
}

.changepage-div{
  padding: 40px 0px;
  cursor: pointer;
  color: white;
}
.parentImageContainer{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;  
  justify-items: center;
}